<!doctype HTML>
<html>
<title>Motion Detection Diagnostics</title>
<head>
    <title>Flask-SocketIO Test</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/test';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            socket.on('my_response', function(msg) {
                $('#cpu_count').html(msg.cpu_count);
                $('#cpu_percent').html(msg.cpu_percent);
                $('#total_virtual_mem').html(msg.total_virtual_mem);
                $('#available_virtual_mem').html(msg.available_virtual_mem);
                $('#feed').attr('src', msg.frame_src + '?' + new Date().getTime());
            });

            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                socket.emit('my_ping');
            }, 1000);
            
            socket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect_request');
                return false;
            });
        });
    </script>
</head>

<!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">-->
<body>
<h1>Motion Detection Diagnostics</h1>
<h2>Camera Feed</h2>
<img id="feed" src="" alt="Camera Feed">
<p id="stats"></p>

<h2>Connection Information</h2>
	<p>Async mode is: <b>{{ async_mode }}</b></p>
    <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>

<h2>Raspberry Pi System Statistics</h2>
<table id="stats">
	<tr>
		<th>Statistic</th>
		<th>Quantity</th>
	</tr>
	<tr>
		<th>CPU Count</th>
		<th id="cpu_count"></th>
	</tr>
    <tr>
        <th>CPU Percent</th>
        <th id="cpu_percent"></th>
    </tr>
	<tr>
		<th>Total Virtual Memory</th>
		<th id="total_virtual_mem"></th>
	</tr>
	<tr>
		<th>Available Virtual Memory</th>
		<th id="available_virtual_mem"></th>
	</tr>
</table>   
 
</body>
</html>
